.form-container {
  position: relative;  
    z-index: 1;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #04486e;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

input.is-invalid {
  border-color: #d40a0a;
}

.error {
  color: #d40a0a;
  font-size: 0.875em;
  margin-top: 5px;
}

button.submit-btn {
  width: 100%;
  padding: 10px;
  background: #04486e;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button.submit-btn:disabled {
  background: #dddddd;
}

button.submit-btn:hover{
  background: #023a5a;
}
.success-message {
  color: green;
  font-size: 1.2em;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

// File Input Styling
.file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border: 2px dashed #04486e;
  border-radius: 10px;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #e3f2fd;
    border-color: #023a5a;
  }

  input {
    display: none; // Hide default input
  }

  .file-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #04486e;
    cursor: pointer;
  }

  .file-icon {
    font-size: 22px;
    color: #023a5a;
  }

  .file-name {
    font-size: 14px;
    color: #666;
  }
}


